{% extends "base.html" %}

{% block title %}ErgTools{% endblock %}

{% block content %}
<h1 class="text-3xl font-semibold mb-4">Welcome to ErgTools</h1>
<p class="text-lg mb-4">Use the split calculator if you wish to convert splits data into a different time/distance interval.</p>
<p class="text-lg mb-4">Use the Concept2 tool if you recorded your session with the ErgData app. Share your workout in the app, then copy the link over.</p>
<p class="text-base mb-4">To use the Concept2 tool, you'll need to set the workout privacy to "Everyone", but you can set it back afterwards.</p>

<div class="space-x-4">
    <a href="/calculator" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Split Calculator</a>
    <a href="/concept2" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">Concept2 Tool</a>
</div>

<br/>
<p class="text-sm mb-3"><a href="https://github.com/differental/ergtools" target="_blank">🔗 GitHub: differental/ErgTools</a></p>
<p class="text-sm mb-3">This is a simple tool and it probably has bugs. I’m not liable for any damages, dangers, or bad decisions that come from using it.</p>
<p class="text-sm mb-3">If you find this tool helpful, please consider giving the project a star on GitHub.</p>
{% endblock %}
